/* @font-face {
  font-family: 'RageItalic';
  src: url('/fonts/RageItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

.rage-text {
  font-family: 'RageItalic', cursive;
} 
*/
